@import url('./main.css');

.flex-container{
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.contact-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    width: 100%;
}

.contact-item{
    border: 1px solid var(--bg-light);
    display: flex;
    flex-direction: row;
    overflow: hidden;
    padding: 20px;
    max-height: 200px;
}

.contact-item:hover{
    border: 1px solid var(--accent-main);
    cursor: pointer;
    background-color: var(--bg-main);
    transition: 0.5s;
}

.contact-icon{
    width: 128px;
    height: 128px;
}

.contact-details{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.details-title{
    font-size: larger;
    text-align: left;
    overflow-wrap: break-word;
}

.details-text{
    padding-top: 10px;
    font-size: large;
    color: grey;
    text-align: left;
    overflow-wrap: break-word;
}

/*Small Display*/
@media (max-width: 1024px){
    .contact-list{
        grid-template-columns: 1fr;
    }

    .details-text{
        font-size: medium;
    }

    .details-title{
        font-size: large;
    }

    .contact-icon{
        width: 100px;
        height: 100px;
    }
}

/*Very Small Display*/
@media (max-width: 350px){
    .contact-list{
        grid-template-columns: 1fr;
    }

    .details-text{
        font-size: small;
    }

    .details-title{
        font-size: medium;
    }

    .contact-icon{
        width: 70px;
        height: 70px;
    }
}