@import url(./main.css);

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}

.flex-container{
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: white;
}

.page-links{
    font-size: 36pt;
}

a:hover{
    color:var(--accent-main);
    transition: 0.4s ease-in;
}

.profile-link:hover span{
    display: none;
}

.profile-link:hover:before{
    content: '> PROFILE'
}


.projects-link:hover span{
    display: none;
}

.projects-link:hover:before{
    content: '> PROJECTS'
}

.contact-link:hover span{
    display: none;
}

.contact-link:hover:before{
    content: '> CONTACT'
}

.flex-container{
    display: flex;
    flex-direction: column;
}

.burger-3{
    color: var(--accent-main);
}

@media only screen and (max-width: 1024px){
    .burgerax3 h1{
        font-size: 15vw;
        margin: 10px;
    }

    li{
        padding: 10px 0;
    }
}
