@font-face {
    font-family: minecraft;
    src: url(Minecraft.ttf);
}

body{
    font-family: minecraft;
    margin:0;
    min-height: 100%;
    background-color:#25b17b;
    min-width: 582px;
    min-height: 100vh;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

