@font-face {
    font-family: minecraft;
    src: url(Minecraft.ttf);
}

body{
    background-color:black;
    color: white;
    font-family: minecraft;
}

button{
    font-size: 60px;
    font-family: minecraft;
    color:white;
    border: 4px solid white;
    background-color: black;
}

button:hover{
    background-color:white;
    color:black;
}