@font-face {
    font-family: 'vcr';
    src: url(../fonts/VCR_OSD_MONO.ttf);
}

:root{
    font-size: 24pt;
    font-family: 'vcr';
    --bg-main: #2b2b2b;
    --bg-light: #6d6d6d;
    --bg-darker: #1e1e1e;
    --accent-main: #01d68f;
    --accent-dark:#1ba175;
    --accent-darker: #3d6641;

}

body{
    background-image: url(../img/xiao_bg.jpg);
    background-color: var(--bg-main);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    color:white;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar{
    background: var(--bg-light);
    width: 0.17rem;
}

body::-webkit-scrollbar-thumb{
    background: var(--accent-dark);
}

body::-webkit-scrollbar-thumb:hover{
    background: var(--accent-darker);
}

main{
    margin-left: 3rem;
    padding: 0.1rem 1rem;
}

.navbar{
    width: 3rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-main);
    overflow: visible;
    z-index: 3;
}

.navbar-nav{
    display: grid;
    list-style: none;
    padding: 0;
    margin: 0 0;
    grid-template: repeat(4, 96px) / 96px auto;
}

.nav-item{
    width: 100%;
}

.nav-link{
    display: block;
    align-items: center;
    height: 3rem;
    text-decoration: none;
    color: var(--bg-light); 
    transition: 0.3s ease;
}

.expand-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 0; /*0px --> auto upon hovering its corresponding nav-link*/
    height: 0; /*0px --> auto upon hovering its corresponding nav-link*/
    overflow: hidden;
    text-align: left;
    padding: 0 0px;
    background-color: var(--accent-main);
    color: var(--bg-main);
    transition: 0.4s;
}

#expand-home.open{
    width: 8rem;
    height: auto;
    padding: 0 30px;
}

#expand-home.close{
    width: 0rem;
    height: auto;
    padding: 0 0px;
}

#expand-profile.open{
    width: 8rem;
    height: auto;
    padding: 0 30px;
}

#expand-profile.close{
    width: 0;
    height: auto;
    padding: 0 0px;
}

#expand-projects.open{
    width: 8rem;
    height: auto;
    padding: 0 30px;
}

#expand-projects.close{
    width: 0;
    height: auto;
    padding: 0 0;
}

#expand-contact.open{
    width: 8rem;
    height: auto;
    padding: 0 30px;
}

#expand-contact.close{
    width: 0;
    height: auto;
    padding: 0 0;
}

.nav-link:hover{
    background-color: var(--bg-darker);
    color: var(--accent-main);
}

.nav-link svg{
    min-width: 1rem;
    padding: 1em;
}

h1{
    font-size: 6vw;
}

@media only screen and (max-width: 1024px){
    .navbar{
        width: 0;
        height: 0;
        overflow: hidden;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .flex-container{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}

