@import url('./main.css');

.flex-container{
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

/*Profile picture, name, birthday, occupation*/
.profile-info{
    display: block;
    max-width: 25%;
}

.profile-img{
    max-width: 100%;
}

.profile-info h3{
    color: var(--accent-main);
}

.details{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    font-size: medium;
}

.details .details-title{
    text-align: left;
}

.details .details-info{
    text-align: right;
}

/*Description*/
.profile-bio{
    max-width: 73%;
    text-align: left;
    font-size: medium;
}

hr{
    border: 1px solid var(--accent-dark);
}

.profile-bio h2{
    color: var(--accent-main);
}

.favourite{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    gap: 10px;
}

.fav-item{
    display: flex;
    flex-direction: column;
}

.fav-item h3{
    font-weight: normal;
}

.fav-item-list{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.list-item{
    border: 1px solid var(--bg-light);
    height: 100%;
    width: 90%;
    object-fit: cover;
}

@media (max-width: 1024px) {
    .profile-info{
        max-width: 100%;
    }

    .profile-bio{
        max-width: 100%;
    }

    .flex-container{
        flex-direction: column;
    }
}