@import url(./main.css);

body{
    background: var(--bg-darker);
}

.flex-container{
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-wrap: wrap;
    overflow: hidden;
}

h1{
    margin-left: 35%;
}

.headerbar{
    padding: 0.5rem 1rem;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-m-btn{
    display: none;
    position: relative;
    margin-bottom: 5px;
    cursor: pointer;
    z-index: 2;
}

.nav-m-overlay{
    visibility: hidden;
    width: 100vw;
    height: 0vh;
    top: 0;
    position: fixed;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 1;
}

.nav-m-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.nav-m-overlay.open{
    height: 100vh;
}

.nav-m-overlay a{
    font-size: 5vh;
    color:white;
    display: block;
    text-decoration: none;
}

.nav-m-overlay a:hover{
    color: var(--accent-main);
}

ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 1024px){
    .nav-m-btn{
        display: block;
        overflow: hidden;
    }
    .nav-m-overlay{
        visibility: visible;
    }
    
    h1{
        margin-left: 0;
    }
}

