body{
    min-height: 852px;
    min-width: 582px;
}

.grid-container {
    color:black;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "nav header header"
    "l-side main r-side"
    "footer footer footer";
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 20% 60% 20%;
    padding: 0 25px;
  }

.nav{
    grid-area: nav;
    z-index: 3;
}

.menu{
    visibility: hidden;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin: 25px;
    z-index: 2;
}

.hamburger1, .hamburger2, .hamburger3{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.sidebar{
    width: 0px;
    height:100vh;
    background-color: #2b2b2b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
    padding: 10% 0;
    transition: 0.3s;
}

.sidebar-item{
    color:white;
    display: block;
    padding: 1em 25%;
    align-items: center;
}

.sidebar-item:hover{
    background-color: black;
    color:white;
}

.header{
    grid-area: header;
    text-align: center;
}

.header-inner{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

span.subtitle{
    display: inline;
    background-color: #2b2b2b;
    color:white;
    padding: 0.5rem;
    font-size: larger;
}

.left{
    grid-area: l-side;
}

.lg-sidebar{
    width: 150px;
    height:100vh;
    background-color: #2b2b2b;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    overflow: hidden;
}

.lg-sidebar-item{
    display: block;
    color:white;
    padding: 1em 10%;
}

.lg-sidebar-item:hover{
    background-color: black;
}

.lg-sidebar-icons{
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.lg-sidebar-icon{
    display: block;
    width: 3vw;
    height: auto;
    margin: 1rem 2rem;
}

.main{
    grid-area: main;
    text-align: center;
}

.right{
    grid-area: r-side;
}

.footer{
    grid-area: footer;
}

a{
    color:black;
    text-decoration: none;
}

/*Hamburger Animation*/
.menu.open .hamburger1{
    background-color: white;
    transform: rotate(-45deg) translate(-9px, 6px);
}

.menu.open .hamburger2{
    background: transparent;
    box-shadow: none;
}

.menu.open .hamburger3{
    background-color: white;
    transform: rotate(45deg) translate(-8px, -8px);
}

/*Sidebar Animation*/
.sidebar a{
    transition: 0.3s;
}

/*When the display is less than or equal to 1280px in width, it will display the hamburger menu*/
@media screen and (max-width: 1280px) {
    .menu {
        visibility: visible;
    }

    .lg-sidebar{
        width: 0px;
    }
}